# NLP - Codebasics
### What is NLP?
 #### &emsp; 1. It is field in computer science and AI that gives machine an ability to understand human language and to assist in language related tasks.
#### &emsp; 2. We can go to [Regex](regex101.com) to practice regex.

### <b> * Retrieving email and phone number </b>

In [6]:
import re

In [13]:
chat1 = 'vinay: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com'
chat2 = 'vinay: here it is: (123)-567-8912, abc@xyz.com'
chat3 = 'vinay: yes, phone: 1235678912 email: abc@xyz.com'

In [16]:
pattern = '\d{10}'  # it will match 10 continuous numbers

matches = re.findall(pattern, chat1)
matches

['1235678912']

In [20]:
pattern = '\(\d{3}\)-\d{3}-\d{4}'  

matches = re.findall(pattern, chat2)
matches

['(123)-567-8912']

In [24]:
pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{10}'     # we use | for 'or'

matches = re.findall(pattern, chat1+chat2+chat3)
matches

['1235678912', '(123)-567-8912', '1235678912']

In [25]:
pattern = '[a-z1-9A-Z_]*@[a-z1-9A-Z]*\.[a-zA-Z]*'

matches = re.findall(pattern, chat1+chat2+chat3)
matches

['abc@xyz.comcodebasics', 'abc@xyz.comcodebasics', 'abc@xyz.com']

 ### <b> * Retrieving order ID </b>

In [26]:
chat1='vinay: Hello, I am having an issue with my order # 412889912'
chat2='vinay: I have a problem with my order number 412889912'
chat3='vinay: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [27]:
pattern = 'order[^\d]*(\d*)'   # [^\d] -> matches except number , (\d*) -> if we want a group from the matched string put it in brackets

matches = re.findall(pattern, chat1+chat2+chat3)
matches

['412889912', '412889912', '412889912']

 ### <b> * Retrieving twitter handles </b>

In [39]:
text = '''
Follow our leader Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla
'''

In [41]:
pattern = 'https://twitter.com/([a-zA-Z0-9_]+)'  # it will not take the first one

matches = re.findall(pattern, text)
matches

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

In [42]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.
'''

In [43]:
pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'  # '?:' -> used when we don't want to particularly capture a group within () but the whole

matches = re.findall(pattern, text)
matches

['2021 Q1', '2021 S1']